<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">
                <div class="section mcb-section" id="about" style="padding-top:70px; padding-bottom:0px; ">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one  valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column  ">
                                    <div class="column_attr">
                                        <h2>— Welcome to DMD Electrical </h2> </div>
                                </div>
                                <div class="column mcb-column one column_divider ">
                                    <hr class="no_line" style="margin: 0 auto 20px;" /> </div>
                                <div class="column mcb-column one-third column_image ">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="{{site.baseurl}}/assets/images/home_makeup_pic1.jpg" alt="home_makeup_pic1" width="780" height="886" /> </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one-third column_column  ">
                                    <div class="column_attr" style=" padding:20px 8%;">
                                        <h4>About DMD Electrical</h4>
                                        <hr class="no_line" style="margin: 0 auto 25px;" />
                                        <p class="big"> DMD Electrical is a family owned and operated business with over 10 years of industrial and commercial expertise. We service areas in and around Gauteng and its neighbouring provinces. As an owned business we value the importance of our reputation and trust with our customers. </p>
                                        <p class="big"> We treat each of our clients with the utmost respect, patience, professionalism. Each task we complete expresses our commitment to high quality workmanship and attention to detail. </p>
                                    </div>
                                </div>
                                <div class="column mcb-column one-third column_column  ">
                                    <div class="column_attr" style=" padding:20px 8%;">
                                        <h4>Our Expertise</h4>
                                        <hr class="no_line" style="margin: 0 auto 25px;" />
                                        <p class="big"> Commercial troubleshooting and electrical repair is available on a 24 hour emergency basis, and with an in-house parts and repair inventory. </p>
                                        <p> DMD Electrical is fully equipped to handle all forms of commercial electrical projects for both small and large businesses. </p>
                                        <hr class="no_line" style="margin: 0 auto 30px;" />
                                        <p style="font-size: 35px; line-height: 35px;"> <a href="#" style="color: #051557;"><i class="icon-facebook-circled"></i></a><a href="#" style="color: #051557;"><i class="icon-gplus-circled"></i></a>
                                            <a href="#" style="color: #051557;"></a><a href="#" style="color: #051557;"><i class="icon-linkedin-circled"></i></a> </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section" id="offer" style="padding-top:70px; padding-bottom:0px; ">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one  valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column  ">
                                    <div class="column_attr">
                                        <h2>— Our Services Include </h2> </div>
                                </div>
                                <div class="column mcb-column one column_divider ">
                                    <hr class="no_line" style="margin: 0 auto 20px;" /> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section equal-height" style="padding-top:0px; padding-bottom:0px; ">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one  valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one-fourth column_column">
                                    <div class="column_attr align_center" style=" padding:40px 10% 25px; border: 2px solid #051557;">
                                        <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                            <div class="image_wrapper"><img class="scale-with-grid" src="{{site.baseurl}}/assets/images/home_makeup_offer_icon1.png" alt="home_makeup_offer_icon1" width="780" height="540" /> </div>
                                        </div>
                                        <hr class="no_line" style="margin: 0 auto 25px;" />
                                        <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                            <div class="image_wrapper"><img class="scale-with-grid" src="{{site.baseurl}}/assets/images/home_makeup_sep.png" alt="home_makeup_sep" width="100" height="1" /> </div>
                                        </div>
                                        <hr class="no_line" style="margin: 0 auto 25px;" />
                                        <h4>Compliance Certificates </h4>
                                        <p class="big"> We assist in issuing a COC at a competitive rate. </p>
                                    </div>
                                </div>
                                <div class="column mcb-column one-fourth column_column">
                                    <div class="column_attr align_center" style=" padding:40px 10% 25px; border: 2px solid #051557;">
                                        <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                            <div class="image_wrapper"><img class="scale-with-grid" src="{{site.baseurl}}/assets/images/home_makeup_offer_icon2.png" alt="home_makeup_offer_icon2" width="780" height="540" /> </div>
                                        </div>
                                        <hr class="no_line" style="margin: 0 auto 25px;" />
                                        <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                            <div class="image_wrapper"><img class="scale-with-grid" src="{{site.baseurl}}/assets/images/home_makeup_sep.png" alt="home_makeup_sep" width="100" height="1" /> </div>
                                        </div>
                                        <hr class="no_line" style="margin: 0 auto 25px;" />
                                        <h4>Factory Repairs </h4>
                                        <p class="big"> We can assist with the identification and repair of any Commercial electrical problems. </p>
                                    </div>
                                </div>
                                <div class="column mcb-column one-fourth column_column  ">
                                    <div class="column_attr align_center" style=" padding:40px 10% 25px; border: 2px solid #051557;">
                                        <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                            <div class="image_wrapper"><img class="scale-with-grid" src="{{site.baseurl}}/assets/images/home_makeup_offer_icon3.png" alt="home_makeup_offer_icon3" width="780" height="540" /> </div>
                                        </div>
                                        <hr class="no_line" style="margin: 0 auto 25px;" />
                                        <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                            <div class="image_wrapper"><img class="scale-with-grid" src="{{site.baseurl}}/assets/images/home_makeup_sep.png" alt="home_makeup_sep" width="100" height="1" /> </div>
                                        </div>
                                        <hr class="no_line" style="margin: 0 auto 25px;" />
                                        <h4>House Repairs </h4>
                                        <p class="big"> We can assist with the identification and repair of any Residential electrical problems. </p>
                                    </div>
                                </div>
                                <div class="column mcb-column one-fourth column_column  ">
                                    <div class="column_attr align_center" style=" padding:40px 10% 25px; border: 2px solid #051557;">
                                        <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                            <div class="image_wrapper"><img class="scale-with-grid" src="{{site.baseurl}}/assets/images/home_makeup_offer_icon4.png" alt="home_makeup_offer_icon4" width="780" height="540" /> </div>
                                        </div>
                                        <hr class="no_line" style="margin: 0 auto 25px;" />
                                        <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                            <div class="image_wrapper"><img class="scale-with-grid" src="{{site.baseurl}}/assets/images/home_makeup_sep.png" alt="home_makeup_sep" width="100" height="1" /> </div>
                                        </div>
                                        <hr class="no_line" style="margin: 0 auto 25px;" />
                                        <h4>Installation & Maintenace </h4>
                                        <p class="big"> We can assist with installation and maontenance of any electrical equipment. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section" style="padding-top:20px; padding-bottom:40px; ">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one  valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one-sixth column_placeholder">
                                    <div class="placeholder"> &nbsp; </div>
                                </div>
                                <div class="column mcb-column two-third column_column  ">
                                    <div class="column_attr align_center">
                                        <p> The knowledgeable, licensed commercial & residential electricians at DMD Electrical never take ‘short cuts’ at our customers expense or overlook potentially dangerous wiring problems. At DMD Electrical our goal is to make sure all electrical jobs are done correctly and we will always provide helpful recommendations when applicable to help protect your investment. </p>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_divider ">
                                    <hr class="no_line" style="margin: 0 auto 20px;" /> </div>
                                <div class="column mcb-column one column_image ">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="{{site.baseurl}}/assets/images/home_makeup_pic2.jpg" alt="home_makeup_pic2" width="900" height="441" /> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section full-width no-margin-h no-margin-v  " id="gallery" style="padding-top:0px; padding-bottom:0px; ">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one  valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one-third column_placeholder">
                                    <div class="placeholder"> &nbsp; </div>
                                </div>
                                <div class="column mcb-column one-third column_column  ">
                                    <div class="column_attr align_center" style=" background-color:#051557; padding:20px 10%;">
                                        <h3 style="margin: 0; color: #fff;">Our Gallery</h3> </div>
                                </div>
                                <div class="column mcb-column one column_column  ">
                                    <div class="column_attr">
                                        <div id='gallery-1' class='gallery galleryid-2 gallery-columns-3 gallery-size-full file flat'>
                                            <dl class='gallery-item'>
                                                <dt class='gallery-icon landscape'>
                                                    <a href='images/home_makeup_gallery1.jpg'><img width="780" height="780" src="{{site.baseurl}}/assets/images/home_makeup_gallery1.jpg" class="attachment-full size-full" alt="home_makeup_gallery1" /></a>
                                                </dt>
                                            </dl>
                                            <dl class='gallery-item'>
                                                <dt class='gallery-icon landscape'>
                                                    <a href='images/home_makeup_gallery3.jpg'><img width="780" height="780" src="{{site.baseurl}}/assets/images/home_makeup_gallery3.jpg" class="attachment-full size-full" alt="home_makeup_gallery3" /></a>
                                                </dt>
                                            </dl>
                                            <dl class='gallery-item'>
                                                <dt class='gallery-icon landscape'>
                                                    <a href='images/home_makeup_gallery5.jpg'><img width="780" height="780" src="{{site.baseurl}}/assets/images/home_makeup_gallery5.jpg" class="attachment-full size-full" alt="home_makeup_gallery5" /></a>
                                                </dt>
                                            </dl>
                                            <br style="clear:both">
                                            <dl class='gallery-item'>
                                                <dt class='gallery-icon landscape'>
                                                    <a href='images/home_makeup_gallery2.jpg'><img width="780" height="780" src="{{site.baseurl}}/assets/images/home_makeup_gallery2.jpg" class="attachment-full size-full" alt="home_makeup_gallery2" /></a>
                                                </dt>
                                            </dl>
                                            <dl class='gallery-item'>
                                                <dt class='gallery-icon landscape'>
                                                    <a href='images/home_makeup_gallery4.jpg'><img width="780" height="780" src="{{site.baseurl}}/assets/images/home_makeup_gallery4.jpg" class="attachment-full size-full" alt="home_makeup_gallery4" /></a>
                                                </dt>
                                            </dl>
                                            <dl class='gallery-item'>
                                                <dt class='gallery-icon landscape'>
                                                    <a href='images/home_makeup_gallery6.jpg'><img width="780" height="780" src="{{site.baseurl}}/assets/images/home_makeup_gallery6.jpg" class="attachment-full size-full" alt="home_makeup_gallery6" /></a>
                                                </dt>
                                            </dl>
                                            <br style="clear:both"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section" id="pricing" style="padding-top:100px; padding-bottom:60px; background-color:#0d195c; background-image:url({{site.baseurl}}/assets/images/home_makeup_sectionbg1.jpg); background-repeat:no-repeat; background-position:center bottom; ">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one  valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column  ">
                                    <div class="column_attr">
                                        <h2 style="color: #fff;">— Pricing details</h2> </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap two-third  valign-top clearfix" style="padding:0 3% 0 0">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column  ">
                                    <div class="column_attr">
                                        <table class="table_makeup">
                                            <tbody>
                                                <tr>
                                                    <td class="m1">Service</td>
                                                    <td class="m2">Price</td>
                                                </tr>
                                                <tr>
                                                    <td class="m1">COC</td>
                                                    <td class="m2">TBA</td>
                                                </tr>
                                                <tr>
                                                    <td class="m1">Other Services</td>
                                                    <td class="m2">TBA</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-third  valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_image ">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="{{site.baseurl}}/assets/images/home_makeup_promo.png" alt="home_makeup_promo" width="326" height="432" /> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section" id="contact" style="padding-top:100px; padding-bottom:60px; ">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one  valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column  ">
                                    <div class="column_attr">
                                        <h2>— Contact Us...</h2> </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-second  valign-top clearfix" style="padding:0 3% 0 0">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column  column-margin-20px">
                                    <div class="column_attr">
                                        <h4>Address</h4> </div>
                                </div>
                                <div class="column mcb-column two-fifth column_column  ">
                                    <div class="column_attr">
                                        <h5>DMD Electrical</h5>
                                        <p> Hours of Operation:
                                            <br> Mon – Friday: 8AM – 5PM
                                            <br> Weekends: (Please Call)
                                            <br> **Service available evenings & weekends by appointment. </p>
                                        <hr class="no_line" style="margin: 0 auto 20px;" />
                                        <p style="color: #f90176;"> No 59 Fourth Avenue,
                                            <br> Northmead
                                            <br> Benoni </p>
                                        <hr class="no_line" style="margin: 0 auto 20px;" />
                                        <p style="margin-bottom: 7px;"> Phone: <span class="themecolor">+27 (0) 83 380 0403</span> </p>
                                        <p> e-mail: <a href="#">david@dmdelectrical.co.za</a> </p>
                                    </div>
                                </div>
                                <div class="column mcb-column three-fifth column_image ">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="{{site.baseurl}}/assets/images/home_makeup_pic3.jpg" alt="home_makeup_pic3" width="780" height="720" /> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-second  valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column  ">
                                    <div class="column_attr">
                                        <h4>Send us a Quote Request</h4>
                                        <hr class="no_line" style="margin: 0 auto 30px;" />
                                        <div id="contactWrapper">
                                            <form id="contactform">
                                                <div class="column one-second">
                                                    <input placeholder="Your name" type="text" name="name" id="name" size="40" aria-required="true" aria-invalid="false" /> </div>
                                                <div class="column one-second">
                                                    <input placeholder="Your e-mail" type="email" name="email" id="email" size="40" aria-required="true" aria-invalid="false" /> </div>
                                                <div class="column one">
                                                    <input placeholder="Subject" type="text" name="subject" id="subject" size="40" aria-invalid="false" /> </div>
                                                <div class="column one">
                                                    <textarea placeholder="Message" name="body" id="body" style="width:100%;" rows="10" aria-invalid="false"></textarea>
                                                </div>
                                                <div class="column one">
                                                    <input type="button" value="Send A Message" id="submit" onClick="return check_values();"> </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section full-width no-margin-h no-margin-v  " id="map" style="padding-top:0px; padding-bottom:0px; ">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one  valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_map ">
                                    <div class="google-map-wrapper no_border">
                                        <div class="google-map" id="google-map-area-572b5643152cf" style="width:100%; height:600px;"> <iframe src="https://www.google.com/maps/d/embed?mid=11IVIpdZEWNOXSNDd85XCf98cfbk" width="640" height="480"></iframe> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section" style="padding-top:0px; padding-bottom:0px; ">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one  valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_image ">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="{{site.baseurl}}/assets/images/home_makeup_footer_pic.png" alt="home_makeup_footer_pic" width="1200" height="281" /> </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one-fourth column_placeholder">
                                    <div class="placeholder"> &nbsp; </div>
                                </div>
                                <div class="column mcb-column one-second column_image ">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="{{site.baseurl}}/assets/images/home_makeup_footer_logo.png" alt="home_makeup_footer_logo" width="272" height="43" /> </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_divider ">
                                    <hr class="no_line" /> </div>
                                <div class="column mcb-column one-sixth column_placeholder">
                                    <div class="placeholder"> &nbsp; </div>
                                </div>
                                <div class="column mcb-column two-third column_column  ">
                                    <div class="column_attr align_center">
                                        <p class="big"> We believe in after sales service which is just as important to us as initial sales. We believe in the quality of our work and offer a full 1 year guarantee on electrical components and labor we provide. In the unlikely event there is ever a problem with the service or components we have supplied/installed, DMD Electrical will be dispatched on the first available opening to evaluate and / or correct any problems. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
