<header id="Header">
    <div class="header_placeholder"></div>
    <div id="Top_bar">
        <div class="container">
            <div class="column one">
                <div class="top_bar_left clearfix">
                    <div class="logo">
                        <a id="logo" href="#" title="DMD Electrical"><img class="logo-main scale-with-grid" src="{{site.baseurl}}/assets/images/makeup.png" alt="makeup" /><img class="logo-sticky scale-with-grid" src="{{site.baseurl}}/assets/images/sticky-makeup.png" alt="sticky-makeup" /><img class="logo-mobile scale-with-grid" src="{{site.baseurl}}/assets/images/sticky-makeup.png" alt="sticky-makeup" /> </a>
                    </div>
                    <div class="menu_wrapper">
                        <nav id="menu" class="menu-main-menu-container">
                            <ul id="menu-main-menu" class="menu">
                                <li> <a href="#"><span>Home</span></a> </li>
                                <li> <a href="#about"><span>About Us</span></a> </li>
                                <li> <a href="#offer"><span>Services</span></a> </li>
                                <li> <a href="#gallery"><span>Gallery</span></a> </li>
                                <li> <a href="#pricing"><span>Pricing</span></a> </li>
                                <li> <a href="#contact"><span>Contact Us</span></a> </li>
                            </ul>
                        </nav><a class="responsive-menu-toggle" href="#"><i class="icon-menu"></i></a> </div>
                    <div class="secondary_menu_wrapper"></div>
                    <div class="banner_wrapper"></div>
                    <div class="search_wrapper">
                        <form method="get" id="searchform" action="#"> <i class="icon_search icon-search"></i><a href="#" class="icon_close"><i class="icon-cancel"></i></a>
                            <input type="text" class="field" name="s" id="s" placeholder="Enter your search" />
                            <input type="submit" class="submit" value="" style="display:none;" /> </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mfn-main-slider" id="mfn-rev-slider">
        <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
            <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.2.5">
                <ul>
                    <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description=""> <img src="{{site.baseurl}}/assets/images/home_makeup_sliderbg.jpg" alt="" title="home_makeup_sliderbg" width="1920" height="940" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        <div class="tp-caption mfnrs_makeup_medium_dark   tp-resizeme" id="slide-1-layer-1" data-x="right" data-hoffset="60" data-y="190" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:2000;e:Power2.easeOut;" data-transform_out="opacity:0;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap;"> Welcome to </div>
                        <div class="tp-caption mfnrs_makeup_large_dark   tp-resizeme" id="slide-1-layer-2" data-x="right" data-hoffset="60" data-y="230" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:2000;e:Power2.easeOut;" data-transform_out="opacity:0;s:300;" data-start="700" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;"> DMD
                            <br> Electrical </div>
                        <a class="tp-caption   tp-resizeme  scroll" href="#offer" target="_self" id="slide-1-layer-4" data-x="right" data-hoffset="60" data-y="480" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-transform_idle="o:1;" data-transform_in="y:50px;opacity:0;s:1200;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="900" data-actions='' data-responsive_offset="on" style="z-index: 7;"><img src="{{site.baseurl}}/assets/images/home_makeup_slider_arrow.png" alt="" width="21" height="200" data-ww="21px" data-hh="200px" data-no-retina> </a>
                    </li>
                </ul>
                <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
            </div>
        </div>
    </div>
</header>
