<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

<body class="template-slider color-custom style-simple layout-full-width one-page nice-scroll-on mobile-tb-left button-flat if-zoom no-content-padding header-plain header-fw minimalist-header-no sticky-header sticky-white ab-hide subheader-title-left menuo-right footer-copy-center">
    <div id="Wrapper">

    {% include header.html %}

    {% include content.html %}

    {% include footer.html %}

   </div>
    <!-- JS -->
    {% include script.html %}

</body>

</html>
